# Лабораторная работа 1. Введение в машинное обучение. Обучение с учителем. Задача регрессии

<b>Традиционное предупреждение для всех лабораторных работ:</b> перед обучением моделей необходимо выполнить предварительную обработку данных, которая <b>обязательно</b> включает в себя:
- заполнение пропущенных значений (рекомедуется логика заполнения пропусков на основе типа данных, которая использовалась в РГР по Практикуму);
- преобразование категориальных признаков в числовые (используйте one-hot кодирование или map; используйте знания с Практикума).

Предобработка может включать в себя другие действия, но выполнение описанных выше действий обязательно.

Сделайте это один раз и сохраните в отдельный csv файл, а потом его используйте.

<b>Выполните следующие задания:</b>
- <span style="color:green">загрузите датасет для регрессии, выделите целевой признак и предикторы, разбейте данные на обучающую и тестовую выборку;</span>
- <span style="color:green">решите задачу регрессии на ваших данных с использованием моделей sklearn (линейная регрессия + L1, L2), для моделей с регуляризациями подберите гиперпараметр;</span>
- <span style="color:green">решите задачу регрессии на ваших данных с использованием моделей sklearn (полиномиальная регрессия + L1, L2), для моделей с регуляризациями подберите гиперпараметр;</span>
- <span style="color:green">вычислите значения метрик $R^2$, MAE, MSE, RMSE, MAPE для всех обученных моделей; выберите лучшую модель;</span>
- <span style="color:green">самостоятельно реализуйте (желательно в виде класса) модель линейной регрессии с регуляризацией (можете выбрать L1 или L2);</span>
- <span style="color:green">самостоятельно реализуйте вычисление всех используемых метрик (в виде функций, принимающих два аргумента);</span>
- <span style="color:green">обучите вашу модель линейной регрессии на ваших данных; оцените качество с помощью реализованных вами метрик.</span>

# Предобработка

Сперва импортируются необходимые библиотеки: pandas

In [1]:
import pandas as pd

После чего загружается и выводится датасет

In [3]:
kc_house_data = pd.read_csv('..\data\kc_house_data.csv').drop(columns=["Unnamed: 0"])
kc_house_data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

Выводится информация о датасете

In [4]:
kc_house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21613 non-null  object
 1   price          21613 non-null  float64
 2   bedrooms       21613 non-null  int64
 3   bathrooms      21613 non-null  float64
 4   sqft_living    21613 non-null  int64
 5   sqft_lot       21613 non-null  int64
 6   floors         21613 non-null  float64
 7   waterfront     21613 non-null  int64
 8   view           21613 non-null  int64
 9   condition      21613 non-null  int64
 10  grade          21613 non-null  int64
 11  sqft_above     21613 non-null  int64
 12  sqft_basement  21613 non-null  int64
 13  yr_built       21613 non-null  int64
 14  yr_renovated   21613 non-null  int64
 15  zipcode        21613 non-null  int64
 16  lat            21613 non-null  float64
 17  long           21613 non-null  float64
 18  sqft_living15  21613 non-null  int64
 19  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(14), object(1)
memory usage: 3.3+ MB

Пустых ячеек нет, однако присутствует столбец date с типом данных object, который необходимо привести к численному виду, чего можно добиться порядковым кодированием.

In [5]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
kc_house_data[["date"]] = enc.fit_transform(kc_house_data[["date"]])
kc_house_data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,164.0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,220.0,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,290.0,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,220.0,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,283.0,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,19.0,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,288.0,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,52.0,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,252.0,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,166.0,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

Предобработка завершена. Датасет сохраняется.

In [5]:
kc_house_data.to_csv('../data/kc_house_data_preprocessed.csv')

# Выполнение лабораторной №1

Сначала импортируются необходимые библиотеки:
- pandas
- sklearn
- numpy

In [1]:
import sys
sys.path.insert(0, "C://Users//MSI//Desktop//OmSTU//MachineLearning//models//Regression")
from error_metrics import MAE, MSE, RMSE, MAPE, R2

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import PolynomialFeatures
import numpy as np

Загружается предобработанный датасет

In [2]:
kc_house_data = pd.read_csv('../data/kc_house_data_preprocessed.csv').sample(10000)
kc_house_data.drop(["Unnamed: 0"], axis=1, inplace=True)
kc_house_data

,day,month,year,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16075,3,7,2014,370000.0,2,1.00,860,5040,1.0,0,...,7,860,0,1956,0,98117,47.6977,-122.365,1570,5040
9938,7,5,2014,352000.0,5,2.50,2420,8560,1.0,0,...,7,1620,800,1978,0,98118,47.5320,-122.285,2210,7040
15832,13,8,2014,330000.0,4,2.50,2080,7000,1.0,0,...,8,1400,680,1989,0,98058,47.4252,-122.163,2090,7082
16711,21,1,2015,795000.0,3,2.75,1820,7517,1.0,0,...,9,1820,0,1997,0,98116,47.5705,-122.406,2540,8035
739,19,11,2014,233000.0,3,2.00,1400,9177,1.0,0,...,7,1400,0,1974,0,98001,47.3415,-122.272,2020,8547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17901,28,7,2014,219000.0,3,2.00,1090,7350,1.0,0,...,7,1090,0,1990,0,98042,47.3687,-122.085,1490,7741
4769,9,6,2014,480000.0,4,1.75,2220,6500,2.0,0,...,8,2220,0,1964,0,98166,47.4519,-122.375,2430,11600
11753,25,11,2014,1250000.0,4,4.25,4980,13000,2.0,0,...,9,3080,1900,1982,0,98052,47.6406,-122.101,2840,11308
13535,26,6,2014,249900.0,3,2.50,1630,7700,1.0,0,...,7,1120,510,1978,0,98031,47.3876,-122.211,1640,8160
5121,19,9,2014,215000.0,3,1.00,1150,7560,1.0,0,...,6,1150,0,1958,0,98058,47.4613,-122.184,1230,7560

Сперва выделяется целевой признак и выносится за датасет, в котором остаются предикаторы. Целевым признаком будет столбец <em>price</em>.

In [3]:
target_feature = kc_house_data["price"]
predicators = kc_house_data.drop(["price"], axis=1)

После чего обе выборки разделяются на обучающую и тестовую.

In [4]:
X_train, X_test, y_train, y_test = train_test_split(predicators, target_feature, test_size=0.7)
y_test

8979     540000.0
20222    550000.0
8531     415000.0
1411     750000.0
13327    452500.0
           ...
2577     231500.0
17671    505000.0
3012     945000.0
21495    534950.0
20194    385000.0
Name: price, Length: 7000, dtype: float64

### Линейная регрессия

С помощью библиотеки sklearn происходит обучение модели и получение предсказаний для тестовой выборки.

In [6]:
lr = LinearRegression().fit(X_train, y_train)
y_pred = lr.predict(X_test)
lr.coef_

array([-5.82125879e+02,  4.71291828e+02,  2.73668131e+04, -3.89435583e+04,
        2.72428170e+04,  9.76287414e+01, -4.05834769e-02,  1.77839059e+04,
        5.39529782e+05,  5.73748645e+04,  3.74944467e+04,  9.62772978e+04,
        7.03559257e+01,  2.72728157e+01, -2.71643785e+03,  1.11621226e+01,
       -5.89163707e+02,  6.00898059e+05, -1.75832580e+05,  4.70425433e+01,
       -4.92313896e-01])

Вычисление и вывод качественных метрик.

In [7]:
print("MAE:", MAE(y_test, y_pred))
print("MSE:", MSE(y_test, y_pred))
print("RMSE:", RMSE(y_test, y_pred))
print("MAPE:", MAPE(y_test, y_pred))
print("R^2:", R2(y_test, y_pred))

MAE: 128976.40540278565
MSE: 45575631957.65637
RMSE: 213484.50050918537
MAPE: 0.25691045996615725
R^2: 0.6822851764222986

### Регуляризация (Линейная регрессия)
Проводится подбор гиперпараметра для моделей с регуляризациями.

In [8]:
params = {'alpha': np.arange(0.1, 1, 0.1)}

In [9]:
ridge = GridSearchCV(Ridge(), params).fit(X_train, y_train)
y_pred = ridge.predict(X_test)
print("MAE:", MAE(y_test, y_pred))
print("MSE:", MSE(y_test, y_pred))
print("RMSE:", RMSE(y_test, y_pred))
print("MAPE:", MAPE(y_test, y_pred))
print("R^2:", R2(y_test, y_pred))
ridge.best_params_

MAE: 128954.34933105002
MSE: 45605570648.41821
RMSE: 213554.60811796642
MAPE: 0.2566856399633744
R^2: 0.682076469149465

{'alpha': 0.9}

In [10]:
lasso = GridSearchCV(Lasso(tol=0.1), params).fit(X_train, y_train)
y_pred = lasso.predict(X_test)
print("MAE:", MAE(y_test, y_pred))
print("MSE:", MSE(y_test, y_pred))
print("RMSE:", RMSE(y_test, y_pred))
print("MAPE:", MAPE(y_test, y_pred))
print("R^2:", R2(y_test, y_pred))
lasso.best_params_

MAE: 128975.84858355712
MSE: 45575778367.40646
RMSE: 213484.8434137807
MAPE: 0.2569067112100601
R^2: 0.682284155777144

{'alpha': 0.9}

### Полиномиальная регрессия

In [11]:
y = y_train
X = X_train
X_d = X
pf = PolynomialFeatures(2)
X_p = pf.fit_transform(X)
lr = LinearRegression().fit(X_p, y)
y_d = lr.predict(X_p)
print("MAE:", MAE(y, y_d))
print("MSE:", MSE(y, y_d))
print("RMSE:", RMSE(y, y_d))
print("MAPE:", MAPE(y, y_d))
print("R^2:", R2(y, y_d))
print(lr.score(X_p, y))

MAE: 94938.41393261211
MSE: 18091305358.44829
RMSE: 134503.92320838931
MAPE: 0.2029929357593494
R^2: 0.855805432469909
0.855805432469909

### Регуляризация (Полиномиальная регрессия)

In [12]:
lasso = GridSearchCV(Lasso(tol=0.1), params).fit(X_p, y)
y_d = lasso.predict(X_p)
print("MAE:", MAE(y, y_d))
print("MSE:", MSE(y, y_d))
print("RMSE:", RMSE(y, y_d))
print("MAPE:", MAPE(y, y_d))
print("R^2:", R2(y, y_d))

MAE: 106351.1639829922
MSE: 25089363291.42352
RMSE: 158396.2224657631
MAPE: 0.21518331333499396
R^2: 0.8000282556878775

In [13]:
ridge = GridSearchCV(Ridge(tol=0.1), params).fit(X_p, y)
y_d = ridge.predict(X_p)
print("MAE:", MAE(y, y_d))
print("MSE:", MSE(y, y_d))
print("RMSE:", RMSE(y, y_d))
print("MAPE:", MAPE(y, y_d))
print("R^2:", R2(y, y_d))

MAE: 94786.99286758987
MSE: 18762390756.090923
RMSE: 136975.87654799267
MAPE: 0.19692994321228363
R^2: 0.8504566272415649

### Написание модели

Функцию потерь $L$ можно переписать в виде $L(w) = \frac{1}{m} \sum_{i=1}^{m} ({y_{i} - x_{i}w})^2$, где $w$ - вектор. Беря частные производные по переменным $w_{j}$ получим градиент:
$$\frac{\partial L(w)}{\partial w_{j}} = 
\frac{1}{m}\sum_{i=1}^{m} 2(y_{i} - x_{i}w)\frac{\partial (y_{i} - x_{i}w)}{\partial w_{j}} =
\frac{1}{m}\sum_{i=1}^{m} 2(y_{i} - x_{i}w)(-x_{ij})$$

И, наконец, делая шаг вдоль антиградиента, получаем формулу пересчёта весов:
$$w_{j}^{new} = w_{j}^{old} - \lambda\frac{1}{m}\sum_{i=1}^{m} 2(y_{i} - x_{i}w)(-x_{ij})$$
где $\lambda$ - значение шага

Что можно переписать в векторном виде как:
$$w^{new} = w^{old} - 2\frac{\lambda}{m}(Y - Xw^{old})(-X^{T})$$

В случае регуляризаций L1 и L2 формула пересчётов соответственно будет выглядеть так:<br>
$L1$: &emsp; $w^{new} = w^{old} - (\frac{\lambda}{m}(Xw^{old}-Y)(-X^{T}) + sign({w^{old}}))$<br>
$L2$: &emsp; $w^{new} = w^{old} - (\frac{\lambda}{m}(Xw^{old}-Y)(-X^{T}) + 2{w^{old}})$<br>

Именно эти формулы будут использоваться при обучении моей модели.

Сама линейная модель с регуляризацией L1 (Ridge) и функции вычисления метрик находятся в . . /model/Regression/linear_regression.py и . . /model/Regression/error_metrics.py соответственно, а ниже приведён пример их использования.

In [5]:
from linear_regression import LinearRegressionModel

X_train, X_test, y_train, y_test = train_test_split(predicators, target_feature, test_size=0.9)
lrm = LinearRegressionModel(l_rate=1e-11, n_iter=30000)
lrm.fit(X_train, y_train)
y_pred = lrm.predict(X_test)
print("MAE:", MAE(y_test, y_pred))
print("MSE:", MSE(y_test, y_pred))
print("RMSE:", RMSE(y_test, y_pred))
print("MAPE:", MAPE(y_test, y_pred))
print("R^2:", R2(y_test, y_pred))

MAE: 167689.7707403723
MSE: 72580007867.50203
RMSE: 269406.77027035167
MAPE: 0.37288198141768236
R^2: 0.44692275003354787